
/* giving style to container*/

.container {
  width: 1100px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* giving style to h1*/

h1 {
  color: black;
  text-align: center;
}

/* giving style to image*/

.image {
  display: flex;
  justify-content: center;
}

/* giving style to img*/

img {
  width: 100%;
  width: 800px;
  border-radius: 4px;
  margin: 20px 0;
}

/* giving style to p*/

p {
  line-height: 1.6;
  margin-bottom: 20px;
}
