
/* giving style to container*/

.container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
}

/* giving style to  login-box*/

.login-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* giving style to h2*/

h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
}

/* giving style to input*/

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

/* giving style to remember*/

.remember {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 5px;
}

.remember input[type="checkbox"] {
  width: auto;
  margin: 0;
}

.remember label {
  color: #666;
}

/* giving style to button*/

button {
  width: 100%;
  padding: 12px;
  background: transparent;
  color: #3498db;
  border: 1px solid #3498db;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background 0.3s, color 0.3s;
}

button:hover {
  background: #2980b9;
  color: white;
}

.bottom {
  margin-top: 15px;
}

.other {
  color: #3498db;
  text-decoration: none;
  margin: 0 22px;
}

.forgot:hover {
  color: #2980b9;
}
